{% extends 'index.html' %}

{% load static %}

{% block  CodigoDinamico %}

<form action="" method="get"> {% csrf_token %}

    
    <center><h2>Busca por apellido</h2></center>

    <br>Ingresa el apellido: <input type="text" name="apellido" id="apellido">

    <br><input type="submit" value="Buscar">


</form>

    {% if profesor %}

        <ul>
        {% for profe in profesor %}

            <br><li>Apellido {{profe.apellido}} Nombre {{profe.nombre}} Edad {{profe.edad}} Materia {{profe.materia}}</li>
    
        {% endfor %}
        </ul>

    {% else %}
        <p>No hay datos</p>

    {% endif %}

{% endblock %}